html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite,
code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark,
audio, video, details, summary
    {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font-weight: normal;
        vertical-align: baseline;
        background: transparent;
    }



@font-face {

  font-family: amyn; src: url("../../assets/fonts/amyn.ttf");

}



body, html {height: 100%;

  background: url('../../assets/images/Loading_BlurredFrostbiteCaverns.png');
  height: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  position: static;
  background-attachment: fixed;

}

.MainBox{
    width: 100%;
    top: 30%;
    height: 320px;
    position: fixed;
    background-color: #3d3d3d6b;
}

.mb_info{

    color: white;
    position: relative;
    left: 100px;
    top: 100px;

}

.name{
    
}
.age {
    
}
.pronouns {

}