html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite,
code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark,
audio, video, details, summary
    {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font-weight: normal;
        vertical-align: baseline;
        background: transparent;
    }



@font-face {
    font-family: Goldleaf;
    src: url("../../assets/fonts/Goldleaf.ttf");
}
@font-face {
    font-family: rockout;
    src: url("../../assets/fonts/Rockout.ttf");
}
@font-face {
    font-family: amyn;
    src: url("../../assets/fonts/amyn.ttf");
}
@font-face {
    font-family: specialramen;
    src: url("../../assets/fonts/specialramen.otf");
}
@font-face {
    font-family: simply2;
    src: url("../../assets/fonts/simply2.ttf");
}



body, html {height: 100%;

  background-color: #191919;
  height: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  background-attachment: fixed;

}

.MainBox{
    width: 100%;
    top: 30%;
    height: 320px;
    position: fixed;
    background-color: #3d3d3d6b;
}

.mb_info{

    color: white;
    position: relative;

}

.username{
    font-family: Goldleaf;
    font-size: 48px;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name{
    font-family: simply2;
    font-size: 30px;
    margin: 0;
    color: #e990ff;
    position: absolute;
    left: 50%;
    top: 11%;
    transform: translate(-50%, -50%);
}